<h2>Este es un template del componente frutas</h2>


<h2> {{nombre_componente}} </h2>
<p> {{listado_frutas}} </p>

<p> {{nombre}}</p>

<p> {{numero}}</p>

<p> {{mayorEdad}}</p>

<p> {{cualquierCosa}}</p>






<!--Algo maravilloso de angular es que nos permite utilizar un componente embebido dentro de otro componente,
    Por ejemplo: Aquí estamos usando el componente empleado-tag dentro del componente frutas!!-->

<div style="background-color: cadetblue; color: #fff; text-align: center;">
    <p>Estoy embebido dentro de un componente</p>


</div>
